/* rem and em do NOT depend on html font-size in media queries. Instead, 1rem = 1em = 16px */

/*******************************************/
/* BELOW 1344px (Smaller Desktops) */
/********************************************/
@media (max-width: 84em) {
  .hero,
  .container {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-testimonials {
    grid-template-columns: 65fr 40fr;
  }
}

/*******************************************/
/* BELOW 1200px (Landscape Tablets) */
/********************************************/
@media (max-width: 75em) {
  html {
    /* 9 / 16 */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials-container {
    padding: 9.6rem 4.8rem;
  }

  .pricing-plan {
    width: 75%;
  }

  .step-number {
    font-size: 7.4rem;
  }
}

/*******************************************/
/* BELOW 1000px (Tablets) */
/********************************************/
@media (max-width: 62.5em) {
  .heading-primary {
    font-size: 4rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .pricing-plan {
    width: 85%;
  }

  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta {
    grid-template-columns: 5fr 3fr;
  }
}

/*******************************************/
/* BELOW 944px (Tablets) */
/********************************************/
@media (max-width: 59em) {
  html {
    /* 8 / 16 */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    padding: 2.4rem 8rem 0rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 4.4rem;
  }

  .logos img {
    font-size: 2rem;
    height: 2rem;
  }

  .pricing-plan {
    width: 95%;
  }

  .feature {
    text-align: center;
  }

  .section-testimonials {
    grid-template-columns: 60fr 45fr;
  }
  .testimonials-container {
    padding: 3.2rem 2.4rem;
  }

  .testimonials-container .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .diets {
    display: none;
  }

  .meal-grid {
    grid-template-columns: 1fr;
  }

  .meal-columns {
    grid-auto-columns: 45%;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-form button {
    margin-top: 1.2rem;
  }
}

/*******************************************/
/* BELOW 720px (Tablets) */
/********************************************/

@media (max-width: 45em) {
  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
  }

  .testimonials-container {
    padding: 4.8rem 6rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide nav visually */
    opacity: 0;

    /* Make it unaccesible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
